.form > tr > td {
    margin: 0;
    padding: 0;
}

form {
    position: relative;
    display: block;
    float: none;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 100%;
    overflow: auto;
    min-height: 1px;
}

fieldset  {
    position: relative;
    display: block;
    min-width: 100%;
    float: left;
    clear: left;
}

legend {
    position: relative;
    display: block;
    float: none;
    padding: 0 10px;
}

label {
    display: block;
    float: left;
    clear: left;
    min-width: 100%;
}

label span {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

input {
    display: block;
    float: left;
    clear: left;
}

select {
    display: block;
    float: left;
    clear: left;
}

textarea {
    display: block;
    float: none;
    clear: left;
    min-height: 120px;
    min-width: 100%;
    padding: 5px;
    border: solid 1px rgba(210, 210, 210, 1.0);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password] {
    display: block;
    float: none;
    padding: 5px;
    margin: 0 0 10px 0;
    border: solid 1px rgba(210, 210, 210, 1.0);
    min-width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 1;
    border: solid 1px rgba(0, 147, 221, 1.0);
}

.submit_btn {
    display: block;
    float: left;
    min-width: 50% !important;
    padding: 10px;
    font-weight: 700;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 147, 221, 1.0);
    border-radius: 3px;
    -o-border-radius: 3px;
        -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
    transition: background .5s linear;
    -o-transition: background .5s linear;
        -moz-transition: background .5s linear;
            -webkit-transition: background .5s linear;
}

.submit_btn:hover  {
    background: rgba(6, 30, 102, 1.0);
}

.success{
	display: block;
    clear: left;
    float: left;
 	margin-bottom: 20px;
    color: rgba(36, 162, 26, 1.0);
    font-weight: 400;
}

.error{
	display: block;
    clear: left;
    float: left;
	margin-bottom: 20px;
    color: rgba(255, 0, 0, 1.0);
    font-weight: 400;
}


/* MEDIA QUERIES  */

@media (max-width: 480px) {
    .submit_btn {
        float: left;
        clear: left;
        padding: 10px;
        min-width: 100% !important;
        margin: 20px auto;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .submit_btn {
        min-width: 50% !important;
        margin: 20px auto;
    }   
}
