/* TABLE OF CONTENTS

    1. COMMON ELEMENTS
    2. RESPONSIVE ELEMENTS
    3. FOOTER
    4. TESTIMONIALS AND BLOCKQUOTES
    5. GOOGLE MAP
    6. RANDOM BACKGROUND
    7. MEDIA QUERIES

--- */

/* 1. COMMON ELEMENTS */

::selection { background: rgba(255, 255, 255, 0) !important; }
::-moz-selection { background: rgba(255, 255, 255, 0) !important; }

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
                box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
                font-smoothing: antialiased;
}

html {
    overflow-y: scroll;
}

body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.header {
    position: relative;
    display: block;
    text-align: right;
    z-index: 2;
    margin: 0;
    padding: 0;
    height: 44px;
    background-color: rgba(180, 180, 180, 1.0);
}

.logo, .logo:active {
    position: absolute;
    display: block;
    left: 15px;
    top: 60px;
    width: 164px;
    height: 90px;
    background: url(../img/logo.png) center top no-repeat;
    background-size: cover;
    -o-background-size: cover;
        -moz-background-size: cover;
            -webkit-background-size: cover;
    z-index: 3;
}

.wrapper {
    display: block;
    position: relative;
    clear: left;
    height: auto;
    margin: 0;
    padding: 0;
    background: url(../img/header-overlay.png) center top no-repeat;
    background-size: contain;
    -o-background-size: contain;
        -moz-background-size: contain;
            -webkit-background-size: contain;
    z-index: 1;
}

.container {
    display: block;
    position: relative;
	margin: 0 auto;
    padding: 0 !important;
    max-width: 1280px;
}

#home .content {
    display: block;
    position: relative;
	margin: 0 auto;
    padding: 33.5% 0 0 0;
    max-width: 1280px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: block;
    position: relative;
	margin: 0 auto;
    padding: 15% 0 1% 0;
    max-width: 1280px;
    overflow: hidden;
    border: none;
    min-height: 500px;
}

.projects-wrapper {
    background-color: rgba(238, 238, 238, 1.0);
    overflow: auto;
    z-index: 11;
}

.projects-wrapper-no-grey {
    background-color: rgba(255, 255, 255, 1.0);
    overflow: auto;
    z-index: 11;
}

.projects-inner {
    overflow: auto;
    outline: 0;
    z-index: 12;
    background:
        url(../img/white-to-grey-wavey.png) center top no-repeat,
        url(../img/footer-overlay.png) center bottom no-repeat;
    background-size: contain;
    -o-background-size: contain;
        -moz-background-size: contain;
            -webkit-background-size: contain;
    padding-top: 4.5%;
    padding-bottom: 7%;
    overflow: auto;
    margin: 0;
    border: none !important;
}

.projects-inner-no-grey {
    overflow: auto;
    outline: 0;
    z-index: 12;
    background: url(../img/footer-overlay.png) center bottom no-repeat;
    background-size: contain;
    -o-background-size: contain;
        -moz-background-size: contain;
            -webkit-background-size: contain;
    padding-top: 0.2%;
    padding-bottom: 7%;
    overflow: auto;
    margin: 0;
    border: none !important;
}

#about .projects-inner .responsive-one-third {
    border-right: dashed 1px rgba(220, 220, 220, 1.0);
}

#about .projects-inner .responsive-one-third:last-child {
    border-right: none;
}

.floated {
    display: block;
    float: right;
    clear: none;
    max-width: 100%;
    width: auto;
    max-height: 240px;
    margin: -47px 0 20px 20px;
}

.staff-photo {
    display: block;
    float: right;
    clear: none;
    max-width: 100%;
    width: auto;
    max-height: 160px;
    margin: -47px 10px 20px 20px;
}

.breadcrumbs {
    display: block;
    float: left;
    margin: 0 0 20px 0;
    font-weight: 300;
}

.breadcrumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 95%;
}

.breadcrumbs li a {
    color: rgba(200, 200, 200, 1.0);
    text-decoration: none;
}

.breadcrumbs li a:hover {
    color: rgba(0, 147, 221, 1.0);
}

.breadcrumbs li:last-child a {
    font-weight: 500;
}

.breadcrumbs li:after {
    content: ' ￫ ';
    font-weight: 900;
    color: rgba(200, 200, 200, 1.0);
}

.breadcrumbs li:first-child {
    color: rgba(150, 150, 150, 1.0);
}

.breadcrumbs li:first-child:after {
    color: rgba(200, 200, 200, 1.0);
}

.breadcrumbs li:last-child:after {
    content: '';
}

.row {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px;
    float: left;
    clear: right;
}

.row div {
    display: block;
    float: left;
    clear: none;
}

.indented {
    margin: 0 10px;
}

.inflated {
    padding: 10px;
}

.min-height {
    min-height: 300px;
}   

.bordered {
    border-top: dashed 1px rgba(220, 220, 220, 1.0);
}

.bordered:first-child {
    border: none !important;
}
    
.boxed {
    display: block;
    float: none;
    clear: left;
    padding: 20px 20px 30px 20px;  
    clear: left !important;
    font-size: 90%;
    font-weight: 400 !important;
}
    
.boxed:nth-child(n+1) {
    margin: 0 0 20px 0;
}

.grey {
    color: rgba(150, 150, 150, 1.0);
}

.grey-fill {
    background: rgba(238, 238, 238, 1.0);   
}

.white-fill {
    background: rgba(255, 255, 255, 0.9);   
}

.opacity {
    background: rgba(255, 255, 255, 0.75);
} 

.justified {
    text-align: justify;
}
    
.color:hover {
    background-color: rgba(233, 43, 145, 0.9);
    color: rgba(255, 255, 255, 1.0);
}
    
a.color {
    color: rgba(255, 255, 255, 1.0) !important;
}
    
.color a {
    color: rgba(255, 255, 255, 1.0);
}
    
.color a:hover {
    color: rgba(36, 29, 29, 1.0);
}
   
.right {
    float: right;
    margin: 0 0 20px 20px; 
}
    
.left {
    float: left;
    margin: 0 20px 20px 0; 
}
       
.centered {
    float: none !important;
    margin: 0 auto;
    text-align: center;
}

.zero-margin {
    margin: 0 !important;   
}

.back-to-top {
    display: none;   
}

.device-show {
    display: none !important;   
}

.button {
    display: inline-block;
    clear: left;
    float: left;
    width: auto;
    margin: 0 auto 10px auto;
    padding: 10px;
    text-align: center;
    background: rgba(0, 147, 221, 1.0);
    color: rgba(255, 255, 255, 1.0) !important;
    font-weight: 400;
    border-radius: 3px;
    -o-border-radius: 3px;
        -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
    transition: background .5s linear;
    -o-transition: background .5s linear;
        -moz-transition: background .5s linear;
            -webkit-transition: background .5s linear;
}

.button:hover {
    background: rgba(6, 30, 102, 1.0);
    color: rgba(255, 255, 255, 1.0);
    transition: background .5s linear;
    -o-transition: background .5s linear;
        -moz-transition: background .5s linear;
            -webkit-transition: background .5s linear;
}

.stock-brands {
    display: block;
    clear: left;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.stock-brands a {
    display: inline-block;
    clear: both;
    float: none;
    margin: 20px 10px 0px 10px;
    vertical-align: middle;
}

a.alukov  {
    background: url(../img/logo-alukov-full.png) center center no-repeat;
    width: 103px;
    height: 54px;
    background-size: cover;
}

a.aquaflex  {
    background: url(../img/logo-aquaflex-full.png) center center no-repeat;
    width: 102px;
    height: 30px;
    background-size: cover;
}

a.caldera {
    background: url(../img/logo-caldera-full.png) center center no-repeat;
    width: 118px;
    height: 55px;
    background-size: cover;
}

a.certikin {
    background: url(../img/logo-certikin-full.png) center center no-repeat;
    width: 109px;
    height: 36px;
    background-size: cover;
}

a.golden-coast {
    background: url(../img/logo-golden-coast-full.png) center center no-repeat;
    width: 184px;
    height: 28px;
    background-size: cover;
}

a.intopool {
    background: url(../img/logo-intopool-full.png) center center no-repeat;
    width: 103px;
    height: 32px;
    background-size: cover;
}

a.plastica  {
    background: url(../img/logo-plastica-full.png) center center no-repeat;
    width: 115px;
    height: 31px;
    background-size: cover;
}

a.rotospa {
    background: url(../img/logo-rotospa-full.png) center center no-repeat;
    width: 85px;
    height: 54px;
    background-size: cover;
}

a.caldera-full {
    display: block;
    background: url(../img/logo-caldera-full.png) center center no-repeat;
    width: 236px;
    height: 110px;
    background-size: contain;
    text-indent: -9999px;
}

a.rotospa-full {
    display: block;
    background: url(../img/logo-rotospa-full.png) center center no-repeat;
    width: 173px;
    height: 110px;
    background-size: contain;
    text-indent: -9999px;
}

.contact-details p {
    padding-left: 20px;  
}

.contact-details em {
	display: block;
	font-style: normal;
}

.opening-times li {
    list-style-type: none;
    display: block;
    margin: 0 0 10px 20px;
    padding: 0;
}

.legal-statement p {
    margin: 0 20px;
    padding-top: 20px;
    font-size: 97%;
    border-top: solid 1px rgba(238, 238, 238, 1.0);
}

.affiliations {
    position: relative;
    display: block;
    clear: left;
    float: right !important;
    margin: 20px 0 20px 20px;
    vertical-align: middle;
}

.affiliations a {
    display: inline-block;
    margin: 0 20px 0 0;
}

.affiliations a.bishta  {
    background: url(../img/logo-bishta.png) center center no-repeat;
    width: 174px;
    height: 50px;
    background-size: cover;
}

.affiliations a.spata {
    background: url(../img/logo-spata.png) left top no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
}

#chemicals .responsive-one-quarter:hover {
    background: rgba(238, 238, 238, 0.5);  
}

#chemicals .responsive-one-quarter p {
    font-weight: 500;
    font-size: 90% !important;
}

#chemicals .responsive-one-quarter p.pack-size {
    display: block;
    float: left;
    margin-left: 10px;
}

#chemicals .responsive-one-quarter p.pack-price {
    display: none; /* hidden until shop is created */
    clear: none;
    float: right !important;
    padding: 0;
    padding: 5px !important;
    margin-right: 10px;
    background-color: rgba(0, 147, 221, 1.0);
    color: rgba(255, 255, 255, 1.0) !important;
    font-weight: 700 !important;
}


/* 2. RESPONSIVE ELEMENTS  */    

.responsive-one-fifth {
    width: 20% !important;
    margin: 0;
    padding: 0;
}

.responsive-one-quarter {
    width: 25% !important;
    margin: 0;
    padding: 0;
}

.responsive-one-third {
    width: 33.333333333333% !important;
    margin: 0;
    padding: 0;
}

.responsive-two-fifth {
    width: 40% !important;
    margin: 0;
    padding: 0;
}
    
.responsive-one-half {
    width: 50% !important;
    margin: 0;
    padding: 0;
} 

.responsive-three-fifth {
    width: 60% !important;
    margin: 0; 
    padding: 0;
}

.responsive-two-third {
    width: 66.666666666666% !important;
    margin: 0;
    padding: 0;
}
  
.responsive-three-quarter {
    width: 75% !important;
    margin: 0; 
    padding: 0;
}

.responsive-four-fifth {
    width: 80% !important;
    margin: 0; 
    padding: 0;
}
   
.responsive-full-width {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

[class*="responsive-"] p:last-child, [class^="responsive-"] p:last-child {
    margin-bottom: 0px !important;
}

.responsive-image {
    clear: left;
    max-width: auto;
    width: 100%;
    max-height: 100% !important;
    background-size: cover;
    margin-bottom: 20px;
}

.responsive-image-no-margin {
    max-width: auto;
    width: 100%;
    max-height: 100% !important;
    background-size: cover;
}

/* 3. FOOTER  */

footer {
    display: block;
    position: relative;
    width: 100%;
    background: rgba(0, 147, 221, 1.0);
    color: rgba(255, 255, 255, 1.0) !important;
    overflow: auto;
}

footer p {
    margin: 0 !important;
    line-height: normal !important;
}

footer a {
    color: rgba(255, 255, 255, 1.0) !important;   
}

footer a:hover {
    color: rgba(6, 30, 102, 1.0) !important;
}

.address {
    display: block;
    float: left !important;
    clear: left !important;
    padding: 0;
    margin: 0 0 20px 0;
}

.social-media {
    display: block;
    margin: 0 0 20px 0 !important;
}

.social-media a {
    display: inline-block;
    float: none;
    clear: none;
    margin: 0 10px 0 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-size: cover;
    -o-background-size: cover;
        -moz-background-size: cover;
            -webkit-background-size: cover;
}

.social-media a:hover {
    background-size: cover;
    -o-background-size: cover;
        -moz-background-size: cover;
            -webkit-background-size: cover;
}

.twitter {
    background: url(../img/icon-twitter.png) left top no-repeat;
}

.twitter:hover {
    background-position: left bottom;
}

.facebook {
    background: url(../img/icon-facebook.png) left top no-repeat;
}

.facebook:hover {
    background-position: left bottom;
}

.linkedin {
    background: url(../img/icon-linkedin.png) left top no-repeat;
}

.linkedin:hover {
    background-position: left bottom;
}

.pinterest {
    background: url(../img/icon-pinterest.png) left top no-repeat;
}

.pinterest:hover {
    background-position: left bottom;
}

.googleplus {
    background: url(../img/icon-googleplus.png) left top no-repeat;
}

.googleplus:hover {
    background-position: left bottom;
}

.address {
    margin: 0;
    padding: 0;
}
    
.links {
    display: block;
    clear: both;
    float: left;
    margin-top: 20px !important;
}

.links a {
    display: inline-block;
}

.links a:after {
    content: ' - ';
}

.links a:last-child::after {
    content: '';
}


/* 4. TESTIMONIALS AND BLOCKQUOTES */

.testimonials, .testimonials ul, .testimonials li {
	margin: 0;
	padding: 0;
	list-style: none;
}
    
.testimonials {
    min-height: auto;

}

.testimonials li {
	display: none;
}

.testimonials li blockquote em {
    line-height: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 125%;
    color: rgba(150, 150, 150, 0.9);
    font-weight: 400;
}

blockquote:before {
    content: url(../img/open-quotes.png);
    margin-right: 10px;
}

blockquote span {
    display: block;
    float: right;
    clear: both !important;
    margin: 50px 0 0 0;
    font-weight: 400;
    font-size: 120%;
    color: rgba(0, 147, 221, 1.0);
}

blockquote span:before {
    content: ' - ';
}

blockquote small {
    display: inline-block;
    font-size: 100%;
    font-weight: 300;
}

blockquote small:before {
    content: ' ';
}

/* 5. GOOGLE MAP  */

.google-map {
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 40px;
}

.google-map iframe {
    height: 300px;   
}


/* 6. RANDOM BACKGROUND  */

.randbg {
    background-image: url(../img/bg1.jpg);
    background-position: center 5% !important;
    background-repeat: no-repeat;
    background-size: contain;
    -o-background-size: contain;
        -moz-background-size: contain;
            -webkit-background-size: contain;
}
.randbg.bg1 {
    background-image: url(../img/bg1.jpg);
}
.randbg.bg2 {
    background-image: url(../img/bg2.jpg);
}
.randbg.bg3 {
    background-image: url(../img/bg3.jpg);
}
.randbg.bg4 {
    background-image: url(../img/bg4.jpg);
}
.randbg.bg5 {
    background-image: url(../img/bg5.jpg);
}
.randbg.bg6 {
    background-image: url(../img/bg6.jpg);
}


/* 7. RESPONSIVE TABS  */

#horizontalTab {
    display: block;
    position: relative;
    float: left;
    clear:  both;
    max-width: 100%;
    width: auto;
    margin: 0;
}

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: block;
    float: left;
    clear: none;
    margin: 0;
    list-style: none;
    width: 20%;
    border-right: solid 2px rgba(255, 255, 255, 1.0);
}

.r-tabs .r-tabs-panel {
    padding: 0;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

.r-tabs {
	position: relative;
}

.r-tabs .r-tabs-nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: rgba(238, 238, 238, 0.7);
	margin-bottom: 3px;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	color: rgba(90, 90, 90, 1.0);
	font-weight: 300;
    text-align: center;
    min-width: 100% !important;
    border-radius: 3px;
    -o-border-radius: 3px;
        -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
}

.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: rgba(255, 255, 255, 1.0);
	margin-bottom: -1px;
	border-top: 1px solid rgba(0, 147, 221, 1.0);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    -o-border-radius: 3px;
        -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
}

.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(0, 147, 221, 1.0);
    font-weight: 500;
    font-size: 105%;
}

/* hover stated added */

.r-tabs .r-tabs-nav .r-tabs-anchor:hover,
.r-tabs .r-tabs-nav .r-tabs-state-active:hover {
	background: rgba(6, 30, 102, 1.0);
    color: rgba(255, 255, 255, 1.0);
    font-weight: 500;
    transition: linear background .5s;
    -o-transition: linear background .5s;
        -moz-transition: linear background .5s;
            -webkit-transition: linear background .5s;
}

/**/

.r-tabs .r-tabs-panel {
	border-top: solid 1px rgba(238, 238, 238, 1.0);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 3px;
}

.r-tabs .r-tabs-accordion-title {
    min-width: 100%;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block !important;
    float: left;
	padding: 10px;
	background-color: rgba(238, 238, 238, 1.0);
	color: rgba(90, 90, 90, 1.0);
	text-decoration: none;
	margin-bottom: 3px;
    min-width: 100%;
    width: 100%;
    font-size: 105%;
}

.r-tabs .r-tabs-accordion-title:last-child .r-tabs-anchor {
    color: Red;   
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: rgba(0, 147, 221, 1.0);
	color: rgba(255, 255, 255, 1.0);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 0;
    padding: 10px;
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor:before {
    content: '' !important;
}

.technical-specifications-table {
    clear: left;
    border: solid 1px rgba(238, 238, 238, 1.0);
    font-size: 95%;
    margin-bottom: 20px;
}

.technical-specifications-table tr {
    width: auto;
}

.technical-specifications-table tr:nth-child(odd) {
    background: rgba(238, 238, 238, 1.0);
}

.technical-specifications-table tr td:first-child {
    background: rgba(220, 220, 220, 0.3);  
}

.technical-specifications-table td {
    padding: 6px;
    display: table-cell;
}

.description h4 {
    margin-top: 10px;   
}

.description img {
    display: block;
    clear: left !important;
    float: left !important;
    max-width: auto;
    width: 100%;
    max-height: 100% !important;
    background-size: cover;
    margin: 0;
    border: solid 20px rgba(255, 255, 255, 1.0) !important;
}

.description span {
    display: block;
    clear: left;
    margin-left: 20px;
}

.description .footnotes {
    padding: 0 6px;
    margin: 10px 0 0 0;
    font-size: 85% !important;
}

.footnotes p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 20px;
}

.footnotes p strong {
    text-decoration: underline;
    margin-bottom: 3px !important;
}

.description .inflated {
    padding: 0;
    padding: 10px;
}

#colour-choices {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
}

#colour-choices div {
    display: block;
    clear: none;
    margin: 0;
    padding: 0;
    min-width: auto;
    width: 20%;
    min-height: 100px;
    border: solid 2px rgba(255, 255, 255, 1.0);
    background: url(../img/colour-choice-texture-overlay.png) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
        -o-border-radius: 10px;
            -webkit-border-radius: 10px;
}

#colour-choices div span {
    display: block; 
    width: auto;
    height: auto;
    overflow: auto;
    min-height: 100%;
    text-indent: -9999px;
    margin: 2px;
}

#colour-choices .colour-blue {
    background-color: rgba(44, 70, 115, 1.0);
}

#colour-choices .colour-grey {
    background-color: rgba(156, 163, 172, 1.0);
}

#colour-choices .colour-sandstone {
    background-color: rgba(231, 209, 188, 1.0);
}

#colour-choices .colour-green {
    background-color: rgba(53, 126, 106, 1.0);
}

#colour-choices .colour-white {
    background-color: rgba(248, 248, 248, 1.0);
}


/* 8. MEDIA QUERIES  */
    
.ipad-only,
.iphone-only,
.retina-only,
.non-retina-only,
.retina-iphone-only,
.non-retina-iphone-only {
    display: none;
}
 
/* ---------- iPad Only ---------- */
@media only screen
and (device-width: 768px) {
  .ipad-only { display: block; }
}
 
/* ---------- iPhone/iPod Only ---------- */
@media only screen
and (device-width: 320px) {
  .iphone-only {
      display: block;
  }
}
 
/* ---------- Retina Device Only ---------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 2) {
  .retina-only {
      display: block;
  }
}
 
/* ---------- Non Retina Device Only ---------- */
@media only screen
and (-webkit-max-device-pixel-ratio: 1) {
  .non-retina-only {
      display: block;
  }
}
/* ---------- Retina iPhone/iPod Only ---------- */
@media only screen
and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .retina-iphone-only {
      display: block;
  }
}

/* ---------- Non Retina iPhone/iPod Only ---------- */
@media only screen 
and (device-width: 320px)
and (-webkit-max-device-pixel-ratio: 1) {
  .non-retina-iphone-only {
      display: block;
  }
}  

/* Landscape phones and smaller  */
@media only screen 
and (max-width: 320px) {

}

/* Landscape phones and smaller  */
@media only screen 
and (max-width: 480px) {
    #contact .responsive-one-quarter,
    #rotospa .responsive-one-quarter,
    #chemicals .responsive-one-quarter {
        width: auto !important;
        margin: 0;
        padding: 0;
    }
    #rotospa .responsive-one-quarter .inflated,
    #rotospa .responsive-one-quarter .inflated,
    #chemicals .responsive-one-quarter .inflated {
        padding: 10px;   
    }
    #home .content {
        padding: 12% 0 0 0 !important;
    }
    body, .randbg {
        background: none !important;   
    }
    .right { 
        margin: 0 0 10px 10px;
    }
    .left {
        margin: 0 10px 10px 0;
    }
    .social-media {
        margin: 0;
        padding: 0;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .back-to-top {
        position: fixed;
        display: inline-block;
        z-index: 1002;
        bottom: 15px;
        right: 0px;
        text-align: center;
        padding: 5px;
        width: 25px;
        height: 25px;
        background: rgba(210, 210, 210, 0.5);
        color: rgba(90, 90, 90, 1.0) !important;
    }
    .back-to-top:hover {
        color: rgba(6, 30, 102, 1.0) !important;   
    }
    .contact-details em {
        display: inline !important;   
    }
    .floated {
        float: left !important;
        max-width: auto;
        width: 100%;
        max-height: 100% !important;
        background-size: cover;
        margin: 0 0 20px 0;
    }
    a.caldera-full, a.rotospa-full {
        display: none;
    }
    .stock-brands {
        text-align: center;
        margin: 0 auto;
    }
    .stock-brands a {
        display: block !important;
        clear: left !important;
        text-align: center;
        margin: 0 auto 20px auto;
    }
    a.aquaflex  {
        width: 169px;
        height: 50px;
    }
    a.caldera {
        width: 172px;
        height: 80px;
    }
    a.certikin {
        width: 152px;
        height: 50px;
    }
    a.golden-coast {
        width: 210px;
        height: 32px;
    }
    a.intopool  {
        width: 128px;
        height: 40px;
    }
    a.plastica  {
        width: 167px;
        height: 45px;
    }
    a.rotospa {
        width: 126px;
        height: 80px;
    }
    .button {
        display: block !important;
        min-width: 100%;
        float: left;
    }
    .affiliations {
        display: block;
        width: auto;
        margin: 0 auto !important;
        text-align: center;
    }
    .affiliations a {
        margin: 0 10px;   
    }
    .description img {
        border: solid 10px rgba(255, 255, 255, 1.0) !important;
    }
}


/* Kindles */

@media only screen 
and (min-width: 481px)   
and (max-width: 640px) {
    #contact .responsive-one-quarter,
    #rotospa .responsive-one-quarter,
    #chemicals .responsive-one-quarter {
        width: 50% !important;
        margin: 0;
        padding: 0;
    }
    #contact .responsive-one-quarter .inflated,
    #rotospa .responsive-one-quarter .inflated,
    #chemicals .responsive-one-quarter .inflated {
        padding: 10px;   
    }
    #about .responsive-one-half {
        width: 50% !important;
        margin: 0;
        padding: 0;
    }
    #about .responsive-one-half .inflated {
        padding: 10px;   
    }
    .floated {
        margin: 3px 0 20px 20px !important;
        max-height: 150px;
    }  
}

@media only screen    
and (max-width: 640px) {
    #home .responsive-one-half {
        width: 100%;
    }
    #home .responsive-one-half .inflated {
        padding: 10px;   
    }
    .r-tabs .r-tabs-panel {
        padding: 0px;
        display: none;
    }
    #colour-choices div {
        min-height: 60px;
    }
}

@media only screen 
and (min-width: 641px)
and (max-width: 767px) {
    #home .responsive-one-half {
        width: 50% !important;
    }
    #home .responsive-one-half .inflated {
        padding: 10px;   
    }
    #contact .responsive-one-quarter,
    #rotospa .responsive-one-quarter,
    #chemicals .responsive-one-quarter {
        width: 50% !important;
        margin: 0;
        padding: 0;
    }
    #contact .responsive-one-quarter .inflated,
    #rotospa .responsive-one-quarter .inflated,
    #chemicals .responsive-one-quarter .inflated {
        padding: 10px;   
    }
    #about .responsive-one-half {
        width: 50% !important;
        margin: 0;
        padding: 0;
    }
    #about .responsive-one-half .inflated {
        padding: 10px;   
    }
    .floated {
        max-height: 160px;
        margin: 3px 0 20px 20px !important;
    }   
    #colour-choices div {
        min-height: 120px;
    }
}

/* Portrait tablets & mini's  */

@media only screen 
and (max-width: 767px) {
    .randbg {
        background-position: center 50px !important;
    }
    body {
        font-size: 95%;
        background: none;
        border: none;
    }
    .logo, .logo:active {
        z-index: 3;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/logo-minimised.png) left top no-repeat;
        background-size: contain;
        -o-background-size: contain;
            -moz-background-size: contain;
                -webkit-background-size: contain;
        width: 110px;
        height: 47px;
        margin: 10px 0 0 10px;
    }
    .header {
        display: block;
        position: relative !important;
        width: 100%;
        padding: 0;
        z-index: 2;
        min-height: 57px;
        border: none;
        background: rgba(0, 147, 221, 1.0);
    }
    .wrapper {
        background: url(../img/header-overlay.png) center -20px no-repeat;
        background-size: contain;
        -o-background-size: contain;
            -moz-background-size: contain;
                -webkit-background-size: contain;
    }
    .container {
        position: relative;
        display: block;
        clear: left;
        padding: 0;
    }
    #home .content {
        padding: 0;
        padding: 35% 0 0 0;
    }
    .content {
        padding-top: 12%;
    }
    .row {
        padding: 0 10px;
    }
    [class*="responsive-"], [class^="responsive-"] {
        width: 100% !important;
    }
    [class*="responsive-"] p:last-child, [class^="responsive-"] p:last-child {
        margin-bottom: 10px !important;
    }
    .indented {
        margin: 0;   
    }
    .inflated {
        padding: 5px !important;
    }
    footer .inflated {
        display: block;
        padding: 10px;
    }
    .bordered {
        padding: 10px 0 0 0 !important;
        border-top: dashed 1px rgba(200, 200 200, 1.0);
    }
    .right { 
        margin: 0 0 10px 10px;
    }
    .left {
        margin: 0 10px 10px 0;
    }
    .social-media a {
        width: 35px;
        height: 35px;
    }
    .testimonials li blockquote em {
        line-height: 30px;
        font-size: 115%;
    }
    blockquote span {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .legal-statement p {
        margin: 0;
    }
    #horizontalTab .inflated {
        padding: 10px !important;   
    }
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block !important;
        width: 100% !important;
        clear: left;
    }
    .breadcrumbs {
        display: none !important;   
    }
    .device-hide {
        display: none !important;
    }
    .device-show {
        display: block !important;
    }
    .legal-statement p, .affiliations {
        margin: 0 !important;
    }
    .affiliations {
        margin-top: 10px !important;
    }
    .description img {
        border: none;   
    }
    a.caldera-full {
        width: 193px;
        height: 90px;
    }
    a.rotospa-full {
        width: 141px;
        height: 90px;
    }
    #about .projects-inner .responsive-one-third {
        border-right: none;
        border-bottom: dashed 1px rgba(220, 220, 220, 1.0);
    }
    #about .projects-inner .responsive-one-third h4 {
        margin-top: 10px;   
    }
    #about .projects-inner h2 {
        margin-bottom: 0 !important;
    }
    #about .projects-inner .responsive-one-third:last-child {
        border: none !important;
    }
    .staff-photo {
        max-height: 120px;
        margin: 0 0 20px 20px;
    }
    .bottom-bordered {
        border-bottom: solid 1px rgba(200, 200, 200, 0.5);
        margin-bottom: 20px;
    }
}

/* iPads, larger tablets (Portrait & Landscape)  */

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    #rotospa .responsive-one-quarter {
        width: 50% !important;
        margin: 0;
        padding: 0;
    }
    #chemicals .responsive-one-quarter {
        width: 33.33333333% !important;
        margin: 0;
        padding: 0;
    }
    .randbg { 
        background-position: center 60px;
    }
    body { 
        background: none;
    }
    .header {
        height: 40px !important;
    }
    .logo, .logo:active {
        top: 50px;
        width: 128px;
        height: 70px;
    }
    .google-map {
        max-height: 250px;
    }
    .google-map iframe {
        height: 250px; 
    }
    .testimonials li blockquote em {
        line-height: 35px;
        font-size: 120%;
    }
    .floated {
        max-height: 200px;
    }
    .staff-photo {
        max-height: 120px;
        margin: 0 0 20px 20px;
    }
    a.caldera-full {
        width: 215px;
        height: 100px;
    }
    a.rotospa-full {
        width: 157px;
        height: 100px;
    }
    #contact .responsive-one-quarter {
        min-width: 50%;
    }
    .contact-details em {
        display: inline-block;   
    }
    #contact .responsive-one-half:last-child {
        clear: left;
        min-width: 100%;
    }
    .legal-statement p {
        margin: 0px;
    }
    #colour-choices div {
        min-height: 80px;
    }
}
 
/* Large desktop and above */
@media only screen 
and (min-width: 1280px) {
    .logo, .logo:active {
        width: 201px;
        height: 110px;
        margin-top: 10px;
    }
    #chemicals .responsive-one-quarter {
        width: 20% !important;
        margin: 0;
        padding: 0;
    }
    #chemicals .responsive-one-quarter .inflated {
        padding: 10px;   
    }
    #homebox p, #homebox h3 {
        padding: 10px 20px;
    }
    .social-media a {
        width: 50px !important;
        height: 50px !important;
    }
    .google-map {
        max-height: 400px;
    }
    .google-map iframe {
        height: 400px;   
    }
    .floated {
        max-height: 260px;
        margin: -49px 0 20px 20px;
    } 
    .staff-photo {
        max-height: 180px;
    }
    .button {
        padding: 10px 20px;   
    }
    .technical-specifications-table {
        font-size: 105%;
    }
    a.caldera-full {
        width: 279px;
        height: 130px;
    }
    a.rotospa-full {
        width: 204px;
        height: 130px;
    }
    a.alukov  {
        width: 105px;
        height: 55px;
    }
    a.aquaflex  {
        width: 129px;
        height: 38px;
    }
    a.caldera {
        width: 129px;
        height: 60px;
    }
    a.certikin {
        width: 128px;
        height: 35px;
    }
    a.golden-coast {
        width: 197px;
        height: 30px;
    }
    a.intopool {
        width: 115px;
        height: 36px;
    }
    a.plastica  {
        width: 134px;
        height: 36px;
    }
    a.rotospa {
        width: 94px;
        height: 60px;
    }
    a.bishta {
        width: 209px !important;
        height: 60px !important;
        background-size: cover;
    }
    a.spata {
        width: 70px !important;
        height: 70px !important;
        background-size: cover;
    }
    #colour-choices div {
        min-height: 120px;
    }
}

/* XLarge desktop and above */
@media only screen
and (min-width: 1441px) { 
    .logo, .logo:active {
        width: 241px;
        height: 132px;
        margin-top: 10px;
    }
} 

/* XXLarge desktop */
@media only screen
and (min-width: 1441px)
and (max-width: 1920px) {  
    .logo, .logo:active {
        width: 256px;
        height: 140px;
        margin-top: 10px;
    }
}

/* XXXLarge desktop and above */
@media only screen and (min-width: 1921px) { 
    .logo, .logo:active {
        width: 273px;
        height: 150px;
        margin-top: 10px;
    }
}