@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: rgba(0,0,0,1);
  }
  ::-moz-selection {
    background-color: rgba(0,0,0,1);
  }
  body {
    @apply antialiased bg-black text-white font-courier;
  }
  h1 {
    font-size: calc(2.75rem + 1vw);
    font-weight: 800;
  }
  h2 {
    font-size: calc(2rem + .5vw);
    font-weight: 800;
  }
  h3 {
    font-size: calc(1.75rem + .5vw);
    font-weight: 800;
  }
  h4 {
    font-size: calc(1.5rem + .25vw);
    font-weight: 800;
  }
  x-cloak { display: none; }
}
@layer components {
  .wsb-menu {
    @apply fixed top-0 w-full p-4 lg:py-5 bg-black border-b border-orange-500/50 z-20 lg:z-40 select-none;
  }
  .wsb-menu .menu-container {
    @apply container max-w-screen-xl mx-auto;
  }
  .wsb-menu .menu-nav {
    @apply flex flex-wrap flex-row items-center justify-between;
  }
  .wsb-menu .menu-toggle {
    @apply flex flex-wrap flex-row w-full lg:w-auto items-center justify-between;
  }
  .wsb-menu .menu-toggle button {
    @apply lg:hidden inline-flex items-center text-white;
  }
  /*.wsb-menu .menu  {
  }*/
  .wsb-menu .menu-inner  {
    @apply flex flex-col lg:flex-row justify-start lg:justify-end lg:gap-8;
  }
  .wsb-menu .menu-link  {
    word-spacing: -.25rem;
    @apply font-bold text-xl hover:text-orange-500;
  }
  .wsb-menu:not(.menu-shown) {
    @apply -translate-y-full duration-700 opacity-0;
  }
  .wsb-menu.menu-shown {
    @apply translate-x-0 duration-700 opacity-100;
  }
  .scrolling-background {
    @apply relative relative bg-scroll lg:bg-fixed bg-cover bg-center bg-no-repeat min-h-screen after:absolute after:left-0 after:top-0 after:h-full after:w-full after:bg-black after:z-auto after:opacity-70;
  }
  .scrolling-background .inner {
    @apply absolute left-0 top-1/2 w-full -mt-8 px-8 z-auto;
  }
  .scrolling-tween {
    @apply container max-w-screen-xl min-h-screen mx-auto px-6 py-20;
  }
  .wsb-splash {
    @apply relative w-full bg-black z-50 select-none;
  }
  .wsb-splash .splash-video {
    @apply hidden lg:flex w-full min-h-screen lg:aspect-video;
  }
  .wsb-splash .splash-poster {
    @apply w-full min-h-screen bg-video-poster bg-center bg-cover lg:hidden;
  }
  .wsb-splash .splash-content {
    @apply absolute left-0 top-0 flex flex-col w-full h-full items-center justify-center text-center overflow-hidden;
  }
  .wsb-splash .splash-title {
    @apply font-extrabold text-orange-500 lg:mix-blend-multiply;
  }
  .wsb-splash .splash-title + span span {
    @apply box-decoration-clone;
  }
  .wsb-splash .splash-text-wrapper {
    @apply w-10/12 sm:w-3/4 lg:w-auto text-lg xl:text-xl font-bold -mt-4 -rotate-1;
  }
  .wsb-splash .splash-text {
    @apply bg-black p-2 md:px-3 lg:py-3 lg:px-4 xl:px-5 2xl:px-6;
  }
  .wsb-player-wrapper {
    @apply fixed w-full bottom-0 left-0 md:relative md:flex-none md:w-72 xl:w-80 md:mt-9 z-30 transition duration-1000 delay-500 ease-in;
  }
  .wsb-player {
    @apply bg-gradient-to-b from-orange-500 to-orange-600 select-none;
  }
  .wsb-player button.player-popout {
    @apply absolute top-3 md:top-2 right-3 md:right-2 ml-6;
  }
  .wsb-player input[type="range"] {
    /*-webkit-appearance: none;*/
    height: 8px;
    background: rgba(255,255,255,0.8) !important;
    border-radius: 5px;
    background-image: linear-gradient(rgba(249,115,22,.8), rgba(249, 115 ,22,.9)) !important;
    background-size: 0% 100%;
    background-repeat: no-repeat;
  }
  .wsb-player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: ew-resize;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06) !important;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  .wsb-player input[type="range"]::-webkit-slider-runnable-track,
  .wsb-player input[type="range"]::-moz-range-track,
  .wsb-player input[type="range"]::-ms-track {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .wsb-player .amplitude-play-pause.amplitude-playing #pause-icon {
    display: block;
  }
  .wsb-player .amplitude-play-pause.amplitude-paused #pause-icon {
    display: none;
  }
  .wsb-player .amplitude-play-pause.amplitude-paused #play-icon {
    display: block;
  }
  .wsb-player .amplitude-play-pause.amplitude-playing #play-icon {
    display: none;
  }
  .wsb-player .amplitude-shuffle.amplitude-shuffle-on svg path {
    fill: black;
  }
  .wsb-player .amplitude-repeat-song.amplitude-repeat-song-on svg path {
    fill: Black;
  }
  .wsb-player .amplitude-mute.amplitude-muted .unmute {
    display: block;
    fill: Black;
  }
  .wsb-player .amplitude-mute.amplitude-not-muted .mute {
    display: block;
  }
  .wsb-player .amplitude-mute.amplitude-muted .mute,
  .wsb-player .amplitude-mute.amplitude-not-muted .unmute {
    display: none;
  }
  .wsb-footer {
    @apply container max-w-screen-xl mx-auto px-4 py-5 mb-24 md:mb-0;
  }
  .wsb-footer .inner {
    @apply flex flex-col sm:flex-row sm:flex-wrap justify-between text-center;
  }
}